﻿@model HResourceModel.Resume
@*@{
    ViewBag.Title = "Apply";
}*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("SG Corp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        <h2>Apply</h2>

        @using (Html.BeginForm("Apply", "Home", FormMethod.Post))
        {
            @*<input type="hidden" name="ID" id="ID" value="@Model.ID" />*@

            <div class="form-group">
                <label>Name</label>
                @*<input type="text" name="Name" class="form-control" />*@

                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                @*<input type="text" name="PhoneNumber" class="form-control" />*@
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Email</label>
                @*<input type="text" name="Email" class="form-control" />*@
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Address</label>
                @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Position</label>
                @Html.TextBoxFor(m => m.Position, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Background</label>
                @Html.TextAreaFor(m => m.Background, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Education</label>
                @Html.TextAreaFor(m => m.Education, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Desired Salary</label>
                @Html.TextBoxFor(m => m.DesiredSalary, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Date of Application</label>
                @Html.TextBoxFor(m => m.DateOfApplication, new { type = "date" })
            </div>

            <button class="btn btn-primary">Apply</button>


        }

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

