﻿
@{
    ViewBag.Title = "ViewCategory";
}

<h2>View Categories</h2>

@foreach (var c  in Model)
{
    <h4>@c</h4>
}



<form action="/Home/AddCategory" method="POST">
    <p>
        <label>Add Category</label>
        <input type="text" id="Category" name="Category"/>
    </p>

    <button class="btn btn-primary">Submit</button>

</form>